.back-to-input {
    position: fixed; 
    bottom: 80px; 
    right: 20px; 
    padding: 10px 20px; 
    background-color: #007bff;
    color: white; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 999;
    width: 200px;
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px; 
    padding: 10px 20px;
    width: 200px;
    font-size: 16px;
}

.adjust-font-size {
    font-size: 24px;
}

.itinerary {
    white-space: pre-line;
}

.button-with-icon {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-wrapper {
    position: relative;
    display: inline-block;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-wrapper,
.scroll-to-top {
    margin-bottom: 10px; 
}

body {
    font-family: 'Helvetica', sans-serif;
}