<!DOCTYPE html>
<html>
<head>
    <title>Directions & Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1 style="text-align:center;">Optimized Route</h1>

    <h1 class="adjust-font-size">Itinerary</h1>
    <ul>
        {% for item in itinerary.split('\n\n') %}
          <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <p><a href="/show_directions" class="directions-btn">Step-By-Step Directions</a></p>

    <h1 class="adjust-font-size">Total Driving Duration</h1>
    <p>{{ total_duration }}</p>

    <h1 class="adjust-font-size">Corresponding Map</h1>
    {% include 'map.html' %}

    <form action="/" method="get">
        <div class="form-wrapper">
            <button type="submit" class="back-to-input">
                Home <i class="fas fa-home"></i>
            </button>
        </div>
    </form>

    <button onclick="scrollToTop()" class="scroll-to-top" id="scrollToTopBtn" title="Go to top">Back to Top</button>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
