<!DOCTYPE html>
<html>
<head>
    <title>Optimized Route App</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        form input[type="text"] {
            width: 300px; 
            margin-bottom: 10px; 
        }

        form input[type="submit"] {
            width: 150px;
        }
    </style>
</head>
<body>
    <h1>Where Would You Like to Go? </h1>
    <form method="post">
        <label for="location">Enter your location:</label>
        <input type="text" name="param1" id="location"><br><br>
        
        <label for="stops">Enter your desired stops as a comma-separated list:</label>
        <input type="text" name="param2" id="stops"><br><br>
        
        <input type="submit" value="Get Optimized Route">
    </form>
</body>
</html>
