<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cf86e645659c4fcfdef2edfee54cea48 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_cf86e645659c4fcfdef2edfee54cea48" ></div>
        
</body>
<script>
    
    
            var map_cf86e645659c4fcfdef2edfee54cea48 = L.map(
                "map_cf86e645659c4fcfdef2edfee54cea48",
                {
                    center: [40.8012598, -74.4833426],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a0ac8a19053f483ea0f72e95e04a9409 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_a0ac8a19053f483ea0f72e95e04a9409.addTo(map_cf86e645659c4fcfdef2edfee54cea48);
        
    
            var marker_c6796829be9dc20363e95f70ef8ecc3c = L.marker(
                [40.8012598, -74.4833426],
                {}
            ).addTo(map_cf86e645659c4fcfdef2edfee54cea48);
        
    
            var icon_d3d878b109f5971236c20513899ff37e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_c6796829be9dc20363e95f70ef8ecc3c.setIcon(icon_d3d878b109f5971236c20513899ff37e);
        
    
        var popup_a10acd9586ec88a58e15df0d8f97b393 = L.popup({"maxWidth": 500});

        
            
                var html_2a6c7b04531128e447e6d4976c27ad31 = $(`<div id="html_2a6c7b04531128e447e6d4976c27ad31" style="width: 100.0%; height: 100.0%;"><b>Origin & Destination:</b><br/>modera 55</div>`)[0];
                popup_a10acd9586ec88a58e15df0d8f97b393.setContent(html_2a6c7b04531128e447e6d4976c27ad31);
            
        

        marker_c6796829be9dc20363e95f70ef8ecc3c.bindPopup(popup_a10acd9586ec88a58e15df0d8f97b393)
        ;

        
    
    
            var marker_f05b5470b6da5d3b95426a5ba0b51681 = L.marker(
                [40.7894047, -74.3914264],
                {}
            ).addTo(map_cf86e645659c4fcfdef2edfee54cea48);
        
    
        var popup_a41cd4c2d9c1f1b30adfb70073243bec = L.popup({"maxWidth": 500});

        
            
                var html_e4bf9bf1c4dd08671f2cd00472f11a04 = $(`<div id="html_e4bf9bf1c4dd08671f2cd00472f11a04" style="width: 100.0%; height: 100.0%;"><b>Stop #1:</b> Trader Joe's<br/><b>Address:</b> 176 Columbia Turnpike, Florham Park, NJ 07932, United States</div>`)[0];
                popup_a41cd4c2d9c1f1b30adfb70073243bec.setContent(html_e4bf9bf1c4dd08671f2cd00472f11a04);
            
        

        marker_f05b5470b6da5d3b95426a5ba0b51681.bindPopup(popup_a41cd4c2d9c1f1b30adfb70073243bec)
        ;

        
    
    
            var marker_be68f2ecd47ca498eb088c2cee5e4f68 = L.marker(
                [40.8012598, -74.4833426],
                {}
            ).addTo(map_cf86e645659c4fcfdef2edfee54cea48);
        
    
            var icon_8d4a98c7ea37e5806ab036f90eedf57b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_be68f2ecd47ca498eb088c2cee5e4f68.setIcon(icon_8d4a98c7ea37e5806ab036f90eedf57b);
        
    
        var popup_3c614ec9415b4f9892a397de53718921 = L.popup({"maxWidth": 500});

        
            
                var html_8906e177ce61e7c9c43688ed2110fa12 = $(`<div id="html_8906e177ce61e7c9c43688ed2110fa12" style="width: 100.0%; height: 100.0%;"><b>Origin & Destination:</b><br/>modera 55</div>`)[0];
                popup_3c614ec9415b4f9892a397de53718921.setContent(html_8906e177ce61e7c9c43688ed2110fa12);
            
        

        marker_be68f2ecd47ca498eb088c2cee5e4f68.bindPopup(popup_3c614ec9415b4f9892a397de53718921)
        ;

        
    
    
            var poly_line_66db51c03425a42de19c16cd49bf2111 = L.polyline(
                [[40.8012598, -74.4833426], [40.7894047, -74.3914264], [40.8012598, -74.4833426]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_cf86e645659c4fcfdef2edfee54cea48);
        
</script>
</html>