<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e8f5a0ae8b18e625c88f2dd17f83221b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_e8f5a0ae8b18e625c88f2dd17f83221b" ></div>
        
</body>
<script>
    
    
            var map_e8f5a0ae8b18e625c88f2dd17f83221b = L.map(
                "map_e8f5a0ae8b18e625c88f2dd17f83221b",
                {
                    center: [40.7969419, -74.4752453],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d8940ea7902911cca08346db7abe5824 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_d8940ea7902911cca08346db7abe5824.addTo(map_e8f5a0ae8b18e625c88f2dd17f83221b);
        
    
            var marker_93794d7b29337232679fb2cc37822fa3 = L.marker(
                [40.7969419, -74.4752453],
                {}
            ).addTo(map_e8f5a0ae8b18e625c88f2dd17f83221b);
        
    
        var popup_2e60c85f30c6e13fe733654b8b6f58cb = L.popup({"maxWidth": "100%"});

        
            
                var html_890625bcc615e2a3e8c46238baf2d579 = $(`<div id="html_890625bcc615e2a3e8c46238baf2d579" style="width: 100.0%; height: 100.0%;">Origin 122 morris st morristown nj</div>`)[0];
                popup_2e60c85f30c6e13fe733654b8b6f58cb.setContent(html_890625bcc615e2a3e8c46238baf2d579);
            
        

        marker_93794d7b29337232679fb2cc37822fa3.bindPopup(popup_2e60c85f30c6e13fe733654b8b6f58cb)
        ;

        
    
    
            var marker_32b6509d557f4ac5e457563f03db7161 = L.marker(
                [40.8617252, -74.3882532],
                {}
            ).addTo(map_e8f5a0ae8b18e625c88f2dd17f83221b);
        
    
        var popup_72c1451584585e1e909054c09d70964d = L.popup({"maxWidth": "100%"});

        
            
                var html_640b9f4ef0ad7d2de6066bcbd60dcfc8 = $(`<div id="html_640b9f4ef0ad7d2de6066bcbd60dcfc8" style="width: 100.0%; height: 100.0%;">Stop #1: Target 1157 US-46, Parsippany-Troy Hills, NJ 07054, United States</div>`)[0];
                popup_72c1451584585e1e909054c09d70964d.setContent(html_640b9f4ef0ad7d2de6066bcbd60dcfc8);
            
        

        marker_32b6509d557f4ac5e457563f03db7161.bindPopup(popup_72c1451584585e1e909054c09d70964d)
        ;

        
    
    
            var marker_f7ba2da1638bb70186a7c1fbe1d4be90 = L.marker(
                [40.87522450000001, -74.430233],
                {}
            ).addTo(map_e8f5a0ae8b18e625c88f2dd17f83221b);
        
    
        var popup_585943cfbc126b3739e54a63ce71fd70 = L.popup({"maxWidth": "100%"});

        
            
                var html_7d377244eb0a9449c6a59825c8a341e9 = $(`<div id="html_7d377244eb0a9449c6a59825c8a341e9" style="width: 100.0%; height: 100.0%;">Stop #2: DSW Designer Shoe Warehouse 44 Waterview Blvd, Parsippany-Troy Hills, NJ 07054, United States</div>`)[0];
                popup_585943cfbc126b3739e54a63ce71fd70.setContent(html_7d377244eb0a9449c6a59825c8a341e9);
            
        

        marker_f7ba2da1638bb70186a7c1fbe1d4be90.bindPopup(popup_585943cfbc126b3739e54a63ce71fd70)
        ;

        
    
    
            var marker_8ac1e3a9a2355e408a5b658eaa4d4222 = L.marker(
                [40.7969419, -74.4752453],
                {}
            ).addTo(map_e8f5a0ae8b18e625c88f2dd17f83221b);
        
    
        var popup_064635a75fd41668d3c386cc8c2024b9 = L.popup({"maxWidth": "100%"});

        
            
                var html_169536f0d0c8288e0150dc97cf4ea61b = $(`<div id="html_169536f0d0c8288e0150dc97cf4ea61b" style="width: 100.0%; height: 100.0%;">Destination 122 morris st morristown nj</div>`)[0];
                popup_064635a75fd41668d3c386cc8c2024b9.setContent(html_169536f0d0c8288e0150dc97cf4ea61b);
            
        

        marker_8ac1e3a9a2355e408a5b658eaa4d4222.bindPopup(popup_064635a75fd41668d3c386cc8c2024b9)
        ;

        
    
</script>
</html>